@font-face {
    font-family: outfit;
    src: url('outfit.ttf') format('truetype');
}

.font-outfit {
    font-family: outfit;
}

.img-2 {
    display: none;
}

.images:hover .img-2 {
    display: block;
    position: absolute;
    z-index: 2;

}

.images:hover::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background: #00fff7;
    z-index: 1;
    opacity: 0.5;
    border-radius: 0.25rem;
}